html{
    font-size: 62.5%;
}

body{
    background: $dark_blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: $m_size;
}

button{
    cursor: pointer;
}

button:disabled{
    cursor: default;
}

