// Add option error
.add-option-error{
    color:$off_white;
    font-style: italic;
    padding: 0 $m_size;
    margin: $m_size 0 0 0;
}

.add-option{
    display: flex;
    padding: $m_size;
    flex-direction: column;
}

.add-option__input{
    background: $dark_blue;
    border: none;
    border-bottom: .3rem solid darken($color: $dark_blue, $amount: 10%);
    color:$off_white;
    flex-grow: 1;
    margin:0 0 $s_size 0;
    padding: $s_size;
}

@media (min-width:$desktop_breakpoint){
    .add-option{
        flex-direction: row;
    }

    .add-option__input{
        margin: 0 $s_size 0 0;
    }
}