// Big button
.big-button{
    background: $purple;
    border:none;
    border-bottom: .6rem solid darken($color: $purple, $amount: 10%);
    color:white;
    font-weight: bold;
    font-size: $l_size;
    margin-bottom: $m_size;
    width: 100%;
    padding: 2.4rem;
}

.big-button:disabled{
    opacity: 0.5;
}

// Button
.button{
    background: $purple;
    border: none;
    border-bottom: .3rem solid darken($color: $purple, $amount: 10%);
    color: white;
    font-weight: 500;
    padding: $s_size;
}

// BEM naming convention: <originalBlock>--<modifiedBlockName> 
// for example : header--alternative

.button--link{
    background: none;
    border: none;
    color:$off_white;
    padding: 0;
}

@media (min-width: $desktop_breakpoint) {
    .big-button {
      margin-bottom: $xl_size;
    }
  }