.ReactModalPortal>div{
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay{
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close{
    opacity: 0;
}

.modal{
    background: $light_blue;
    color:white;
    max-width: 30rem;
    outline: none;
    padding: $l_size;
    text-align: center;
}

.modal__title{
    margin: 0 0 $m_size 0;
}

.modal__body{
    margin: 0 0 $l_size 0;
    font-size: 2rem;
    font-weight: 300;
    word-break: break-all;
}