.option{
    border-bottom: 1px solid lighten($color: $light_blue, $amount: 10%);
    display: flex;
    justify-content: space-between;
    padding: $l_size $m_size;
}

.option__text{
    color:#fff;
    font-weight: 500;
    font-size: 2rem;
    margin: 0;
    word-break: break-all;
}