.widget{
    background: $light_blue;
    margin-bottom: $xl_size;
}

.widget__message{
    border-bottom: 1px solid lighten($color: $light_blue, $amount: 10%);
    color:$off_white;
    margin:0;
    padding: $l_size;
    text-align: center;
}

.widget-header{
    background: $blue;
    color:$off_white;
    display: flex;
    justify-content: space-between;
    padding: $m_size;
}

.widget-header__title{
    margin: 0;
}